*{
    margin: 0px;
    padding: 0px;
  
}

/* styles/globals.css */

:root {
    --background-color: lightgoldenrodyellow;
    --text-color: black;
    --link-color:black;
    --container-color:white;
    --sub-container:lightpink;
    --nav-bar:white;
    
}

[data-theme='dark'] {
    --background-color: black;
    --text-color: white;
    --link-color:white;
    --container-color:black;
    --sub-container:grey;
    --nav-bar:black;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;

    
}
.link{
    color:var(--link-color)
}

.container1, .container2{
    background-color: var(--container-color);
    color: var(--text-color);
}
.sub-container2-1, .sub-container2-2, .skills-pic, .projects-div{
    background-color: var(--sub-container);
    color: var(--text-color);
}
.container1-1{
    background-color: var(--sub-container);
    color:var(--text-color)
}
.navbar{
    background-color: var(--nav-bar);
    color: var(--text-color);
}

.btn {
    color: var(--text-color);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
