.footer{
    text-align: center;
}

.heading{
    font-size: large;
}
.para{
    font-size: medium;
}

@media (max-width: 768px) {
    .footer{
        text-align:center;
        width: 100vw;
        box-sizing: border-box;
    }
    .para{
        font-size: 1rem;
    }
}