.pic-container{
    position: absolute;
    top:-5rem;
    left:10%;
    flex:1;
    height: 15rem;
    width: 15rem;
    border-radius: 2.5rem;
    object-fit: cover;
    border:goldenrod;
    border-width: 0.25rem;
    border-style: solid;
    
}
.profile-pic{
    flex:1;
    height: 15rem;
    width: 15rem;
    border-radius: 2.5rem;
   
}
.icons{
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact-container{
font-size: medium;
display: flex;
align-items: center;
justify-content: space-between;
padding: 0.5rem;
}

.container1{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 1rem;
    padding-top: 10rem;
    margin: 2rem;
    border:0.2rem;
    border-radius: 1rem;
    border-style: solid;
    border-color: goldenrod;
    /* background-color: white; */
    height: 35rem;
    width:50rem;
}
.container1-1{
    border-radius: 0.5rem;
}
.btn{
    padding: 1rem;
    border-radius: 1rem;
    background-color: goldenrod;
    margin: 1.75rem;
    font-size: 1rem;
    
    
}

.heading2{
        padding: 0.5rem;
        background-color: gold;
        color: black;
        border-radius: 1rem;
        text-align: center;
        width:fit-content;
    }
    .heading1{
        padding: 2rem;
        font-weight: bold;
        text-align:left;
    }

    @media (min-width: 600px) and (max-width: 900px)  {
        .container1{
            width: auto;
            align-items: center;
        }
    }

    @media (max-width: 600px) {
        .container1{
            box-sizing: border-box;
            display: flex;
            padding-top: 25rem;
            align-items: center;
            justify-items: center;
            position: relative;
            width:100vw;
            height: 40rem;
            padding: 0.5rem;
            margin-top: 5rem;
            
        }
        .pic-container{
        
            position:absolute;
            top:-8rem;
            left:20%;
        }
        .heading2{
            font-size: 1.5rem;
        }
    }

