.pic-container{
    position: relative;
    flex:1;
    height: 20rem;
    width: 20rem;
    border-radius: 2.5rem;
    object-fit: cover;
    border:goldenrod;
    border-width: 0.25rem;
    border-style: solid;
    
}
.profile-pic{
    flex:1;
    height: 20rem;
    width: 20rem;
    border-radius: 2.5rem;
   
}

.container1{
    position: relative;
    padding: 2rem;
    margin: 2rem;
    border:0.2rem;
    border-radius: 1rem;
    border-style: solid;
    border-color: goldenrod;
    /* background-color: white; */
    height: 40rem;
    width: fit-content;
}

.heading2{
        padding: 0.5rem;
        background-color: gold;
        color: black;
        border-radius: 1rem;
        text-align: center;
        width:auto;
    }
    .heading1{
        padding: 2rem;
        font-weight: bold;
        text-align:left;
    }

    @media (min-width: 600px) and (max-width: 900px)  {
        .container1{
            width: auto;
            align-items: center;
        }
    }

