.pic-container{
    position: absolute;
    top:-5rem;
    left:10%;
    flex:1;
    height: 15rem;
    width: 15rem;
    border-radius: 2.5rem;
    object-fit: cover;
    border:goldenrod;
    border-width: 0.25rem;
    border-style: solid;
    
}
.profile-pic{
    flex:1;
    height: 15rem;
    width: 15rem;
    border-radius: 2.5rem;
   
}

.container1{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 2rem;
    padding-top: 10rem;
    margin: 2rem;
    border:0.2rem;
    border-radius: 1rem;
    border-style: solid;
    border-color: goldenrod;
    /* background-color: white; */
    height: 30rem;
    width:50rem;
}

.heading2{
        padding: 0.5rem;
        background-color: gold;
        color: black;
        border-radius: 1rem;
        text-align: center;
        width:fit-content;
    }
    .heading1{
        padding: 2rem;
        font-weight: bold;
        text-align:left;
    }

    @media (min-width: 600px) and (max-width: 900px)  {
        .container1{
            width: auto;
            align-items: center;
        }
    }

    @media (min-width: 600px) {
        .container1{
            display: block;
            align-items: center;
            justify-items: center;
            position: relative;
            
        }
        .pic-container{
        
            position:absolute;
            top:-5rem;
            left:20%;
        }
    }

