.project{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.heading{
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
    
}
.container2{
    padding: 2rem;
    height: auto;
    border: 0.2rem;
    width: auto;
    border-style: solid;
    border-radius: 1rem;
    border-color: goldenrod;
    margin:2rem;
    /* background-color: white; */
}

.sub-container{
    
    border-radius: 1rem;
    width: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    grid-template-rows: repeat(1,1fr);
}
.projects-div{
    display: block;
    align-items: center;
    justify-content: center;
    gap: 2rem; /* Space between items */
    border: 0.2rem solid goldenrod; /* For visibility */
    border-radius: 0.5rem;
    padding: 1rem;
}
.project-pic{
   display: flex;
   align-items: center;
   justify-content: center;
    
}
.project-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.link{
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
    
    
    
    
}

@media (max-width: 768px) {
    .project{
        display: block;
        align-items: center;
        justify-content: center;
    }
    .sub-container{
    
        border-radius: 1rem;
        width: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        grid-template-rows: auto;
    }
}
@media (max-width: 1500px) {
    .project{
        display: block;
        align-items: center;
        justify-content: center;
    }
}